* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  color: black;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #333;
}

.logo-container img {
  width: 70px;
  padding: 5px;
}

.navigation > ul {
  display: flex;
  list-style: none;
  margin-top: 5px;
  font-size: large;
}

.navigation > ul > li {
  padding: 10px;
  margin: 10px;
  justify-items: center;
}

a:visited {
  color: black;
}

.body {
  background-color: beige;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  overflow: auto;
  box-shadow: 3px 3px 2px 5px #00000022;
  border-radius: 5px;
  background-color: #ffffff88;
}

.restaurant-card:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px #333;
}

.restaurant-image img {
  width: 170px;
  height: 200px;
  object-fit: cover;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search-button {
  margin-left: 10px;
}

.shimmer-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.shimmer-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  overflow: auto;
  box-shadow: 3px 3px 2px 5px #00000022;
  border-radius: 5px;
  background-color: #ffffff88;
  margin: 20px;
  width: 200px;
  height: 300px;
}

.login-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff88;
  border: 1px solid #333;
}

.login-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px 0px #333;
  background-color: burlywood;
}
